{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/logo/logo.png" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>NepHub</title>
</head>
<body>
    <header>
        {% include 'core/nav.html' %}
    </header>
    <main>
        {% block content %} {% endblock%}
    </main>
    <!-- <footer>
        <div class="main footer">
            <h5>NepHub</h5>
        </div>
    </footer> -->
    <script src="{% static 'core/index.js'%}"></script>
</body>
</html>